<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ course.title }}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    {% load static %}
    <link rel="stylesheet" href="{% static 'user_app/css/style.css' %}">
</head>
<body>
    <div class="container">
        <div class="welcome_box center_content">
            <h1 class="elegantshadow">Course: {{ course.title }}</h1>
        </div>

        <div class="main_banner">
            <div class="background_img"></div>
            <div class="nav_box">
                <nav>
                    <ul class="nav">
                        <li><a href="/course">Home</a></li>
                        <li><a href="#">Category</a>
                            <ul>
                                <!-- TODO JQuery to update the courses content once a category has been selected -->
                                {% for cat in category %}
                                <li><a href="/course/select_crs/{{cat.id}}">{{cat.name}}</a></li>
                                {% endfor %}
                            </ul>
                        </li>
                        <li><a href="/course/create_course_form">Create</a></li>
                        <li><a href="/profile">Profile</a></li>
                        <li><a href="/logout">Logout</a></li>
                    </ul>
                </nav>
            </div>
        </div>

        <!-- begin header section -->
        <div class="course-header">
            {% if course_passed %}
            <h1>{{ course.title }} <span class="passed"> [Course Passed] </span></h1>
            {% else %}
            <h1>{{ course.title }}</h1>
            {% endif %}
            <p>Subject: {{ course.subject.name }}</p>
            <p>Category: {{ course.category.name }}</p>
            <p>Description: {{ course.description }}</p>
            {% if course_liked %}
                <p>Likes: {{ course.likes.all|length }} <a href="/course/{{ course.id }}/unlike_course"><button type="button" class="btn btn-danger">Unlike</button></a></p>
            {% else %}
                <p>Likes: {{ course.likes.all|length }} <a href="/course/{{ course.id }}/like_course"><button type="button" class="btn btn-primary">Like</button></a></p>
            {% endif %}
            {% if author %}
                <a href="/course/{{ course.id }}/edit_course_form"><button type="button" class="btn btn-primary">Edit</button></a>
                <a href="/course/{{ course.id }}/video/create_video_form"><button type="button" class="btn btn-primary">Add Video</button></a>
            {% endif %}
        </div>
        <!-- end header section -->
        
        <br>

        <!-- begin left side -->
        <div class="left_side_box">
            <div class="text_center">
                <h1> </h1>
            </div>
            {% for video in course.videos.all %}
            <div class="video_box">
                <h3>{{ video.title }}</h3>
                <img class="thumbnail" src="{{ video.thumbnail }}" alt="video thumbnail">
                <p>{{ video.description|truncatewords:50 }}</p>
                <a href="/course/{{ course.id }}/video/{{ video.id }}">
                    <button type="button" class="btn btn-primary">Start Video</button>
                </a>
                {% if author %}
                    <a href="/course/{{ course.id }}/video/{{ video.id }}/edit_video_form"><button type="button" class="btn btn-danger">Edit Video</button></a>
                {% endif %}
            </div>
            {% endfor %}
        </div>
        <!-- end left side -->

        <!-- begin right side -->
        <div class="right_side_box">
            {% if quiz_passed %}
            <h1>{{ video.title }} <span class="passed"> [Quiz Passed] </span></h1>
            {% else %}
            <h1>{{ video.title }}</h1>
            {% endif %}
            <p>{{ video.description }}</p>
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="{{ video.url }}" allowfullscreen></iframe>
            </div>
            
            <div class="video_lesson_box">
                <form action="/course/{{ course.id }}/video/{{ video.id }}/quiz_post" method="POST">{% csrf_token %}
                    {% for question in questions %}
                        <h4 class="quiz_question">{{ question.question }}</h4>
                        <div class="funkyradio">
                            <div class="funkyradio-primary">
                                <input type="radio" name="{{ question.id }}" id="{{ question.id }}A" value="A"/>
                                <label for="{{ question.id }}A">A: {{ question.option1 }}</label>
                            </div>
                            <div class="funkyradio-primary">
                                <input type="radio" name="{{ question.id }}" id="{{ question.id }}B" value="B"/>
                                <label for="{{ question.id }}B">B: {{ question.option2 }}</label>
                            </div>
                            <div class="funkyradio-primary">
                                <input type="radio" name="{{ question.id }}" id="{{ question.id }}C" value="C"/>
                                <label for="{{ question.id }}C">C: {{ question.option3 }}</label>
                            </div>
                            <div class="funkyradio-primary">
                                <input type="radio" name="{{ question.id }}" id="{{ question.id }}D" value="D"/>
                                <label for="{{ question.id }}D">D: {{ question.option4 }}</label>
                            </div>
                            <div class="funkyradio-primary">
                                <input type="radio" name="{{ question.id }}" id="{{ question.id }}E" value="E"/>
                                <label for="{{ question.id }}E">E: {{ question.option5 }}</label>
                            </div>
                        </div>
                        {% if messages %}
                        {% for message in messages %}
                            {% if '{{question.id}}' in message.tags %}
                                <p>{{ message }}</p>
                            {% endif %}
                        {% endfor %}
                        {% endif %}
                        {% endfor %}
                    {% if questions|length > 0 %}
                    <button type="submit" class="btn btn-primary">Submit</button>
                    {% endif %}
                </form>
            </div>
        </div>

    </div>


    <!-- <div class="course-header">
        <h1>{{ course.title }}</h1>
        <p>Subject: {{ course.subject.name }}</p>
        <p>Category: {{ course.category.name }}</p>
        <p>Description: {{ course.description }}</p>
        <p>Likes: {{ course.likes|length }}</p>
        {% if author %}
            <a href="/course/{{ course.id }}/edit_course_form"><button type="button" class="btn btn-danger">Edit Course</button></a>
            <a href="/course/{{ course.id }}/video/create_video_form"><button type="button" class="btn btn-primary">Add Video</button></a>
        {% endif %}
    </div> -->
    <!-- <div class="container">
        <div class="row"> -->
            <!-- <div class="col-md-3">
                {% for video in course.videos.all %}
                    <h1>{{ video.title }}</h1>
                    <img src="{{ video.thumbnail }}" class="img-fluid" alt="">
                    <p>{{ video.description }}</p>
                    <p>Likes: {{ video.likes.all|length }} <a href="/course/{{ course.id }}/video/{{ video.id }}/like_video"><button type="button" class="btn btn-primary">Like</button></a></p>
                    <a href="/course/{{ course.id }}/video/{{ video.id }}"><button type="button" class="btn btn-primary">Start Video</button></a>
                {% if author %}
                        <a href="/course/{{ course.id }}/video/{{ video.id }}/edit_video_form"><button type="button" class="btn btn-danger">Edit Video</button></a>
                {% endif %}
                {% endfor %}
            </div> -->
            <!-- <div class="col-md-9"> -->
                <!-- {% if passed %}
                <h1>{{ video.title }} [Quiz Passed]</h1>
                {% else %}
                <h1>{{ video.title }}</h1>
                {% endif %}
                <p>{{ video.description }}</p>
                <p>Likes: {{ video.likes.all|length }}</p>
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="{{ video.url }}" allowfullscreen></iframe>
                </div> -->
                <!-- <form action="/course/{{ course.id }}/video/{{ video.id }}/quiz_post" method="POST">{% csrf_token %}
                    {% for question in questions %}
                        <h4>{{ question.question }}</h4>
                        <div class="funkyradio">
                            <div class="funkyradio-primary">
                                <input type="radio" name="{{ question.id }}" value="A"/>
                                <label for="{{ question.id }}" >A: {{ question.option1 }}</label>
                            </div>
                            <div class="funkyradio-primary">
                                <input type="radio" name="{{ question.id }}" value="B"/>
                                <label for="{{ question.id }}">B: {{ question.option2 }}</label>
                            </div>
                            <div class="funkyradio-primary">
                                <input type="radio" name="{{ question.id }}" value="C"/>
                                <label for="{{ question.id }}">C: {{ question.option3 }}</label>
                            </div>
                            <div class="funkyradio-primary">
                                <input type="radio" name="{{ question.id }}" value="D"/>
                                <label for="{{ question.id }}">D: {{ question.option4 }}</label>
                            </div>
                            <div class="funkyradio-primary">
                                <input type="radio" name="{{ question.id }}" value="E"/>
                                <label for="{{ question.id }}">E: {{ question.option5 }}</label>
                            </div>
                        </div>
                        {% if messages %}
                        {% for message in messages %}
                            {% if '{{question.id}}' in message.tags %}
                                <p>{{ message }}</p>
                            {% endif %}
                        {% endfor %}
                        {% endif %}
                    {% endfor %}
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form> -->
            <!-- </div>
        </div>
    </div> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</body>
</html>