<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'user_app/css/style.css' %}">
    <title>Profile</title>
</head>
<body>
    <div class="container">
        <div class="center_content">
            <h1 class="elegantshadow">Hello {{ user.first_name }}!</h1>
        </div>
        <div class="main_banner">
            <div class="background_img"></div>
            <div class="nav_box">
                <nav>
                    <ul class="nav">
                        <li><a href="/course">Home</a></li>
                        <li><a href="#">Category</a>
                            <ul>
                                {% for cat in categories %}
                                <li><a href="/course/select_crs/{{cat.id}}">{{cat.name}}</a></li>
                                {% endfor %}
                            </ul>
                        </li>
                        <li><a href="/course/create_course_form">Create</a></li>
                        <li><a href="/profile">Profile</a></li>
                        <li><a href="/logout">Logout</a></li>
                    </ul>
                </nav>
            </div>
        </div>

        <br>

        <div class="profile_img_box">
            <!-- TODO pulling appropriate image from the DB. Add profile img to DB? -->
            <img class="profile_pic" src="{% static 'user_app/images/profile_pic_placeholder.png' %}" alt="profile image">
        </div>
        <!-- TODO links to other common pages. (i.e. home, profile, logout, etc) -->

        <div class="stats_box">
            <div class="row stats_row">
                <label class="col-sm-5 col-form-label">Joined On</label>
                <div class="col-sm-5">
                    <p type="text" class="form-control-plaintext">{{ user.created_at|date:'Y-m-d' }}</p>
                </div>
            </div>
            <div class="row stats_row">
                <label class="col-sm-5 col-form-label">Videos Completed</label>
                <div class="col-sm-5">
                    <p type="text" class="form-control-plaintext">{{ completed|length }}</p>
                </div>
            </div>
            <div class="row stats_row">
                <label class="col-sm-5 col-form-label">Courses Created</label>
                <div class="col-sm-5">
                    <p type="text" class="form-control-plaintext">{{ created|length }}</p>
                </div>
            </div>
        </div>

        <div class="profile_box">
            <form action="/update_profile" method="POST">
                {% csrf_token %}
                <div class="form-group row">
                    <label for="first_name" class="col-sm-2 col-form-label">First Name</label>
                    <div class="col-sm-10">
                        <input name="first_name" type="text" class="form-control" id="first_name" value="{{ user.first_name }}">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="last_name" class="col-sm-2 col-form-label">Last Name</label>
                    <div class="col-sm-10">
                        <input name="last_name" type="text" class="form-control" id="last_anem" value="{{ user.last_name }}">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
                    <div class="col-sm-10">
                        <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="{{ user.email }}">
                    </div>
                </div>
                <button class="btn-primary">Update</button>
            </form>
        </div>

        <div class="recently_created_box">
            <div class="recently_created_header">
                <h3>User created courses</h3>
            </div>
        
            <div class="recently_created_videos">
                {% for course in created %}
                <div class="course_video">
                    <a href="/course/{{ course.id }}">
                        <img src="{% static 'user_app/images/course_img_placeholder.png' %}" alt="Course thumbnail" width='350' height='209'>
                    </a>
                    <p class="course_title">Title: {{ course.title|truncatewords:5 }}</p>
                    <p class="no_margin">Description: {{ course.description|truncatewords:10 }}</p>
                    <p class="no_margin">Created Date: {{ course.created_at|date:'Y-m-d' }}</p>
                </div>
                {% endfor %}
            </div>
        </div>

    </div>
</body>
</html>